{{#*inline "page"}}
  <h2>Congratulations!</h2>
  <p><a href="https://{{host}}/{{path}}">https://{{host}}/{{path}}</a> now redirects to <a href="{{destination}}">{{destination}}</a>.</p>
{{/inline}}
{{> base}}
